*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight:bolder;
}
body{
    background-color:rgb(213, 241, 241);
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.title{
    font-size: 25px;
    color:#68688a;
    margin: 15px auto;
    letter-spacing: 5px;
}
.secondTitle{
    font-size: 15px;
    color: rgb(48, 50, 49);
    margin: 15px auto; 
    letter-spacing: 5px;
}
.text{
    font-size: 10px;
    color: #4c0975;
    margin: 15px auto;
}
.keybord{
    display: grid;
    height: auto;
    width: auto;
    justify-items: center;
    grid-row-gap: 15px;
    padding: 20px;
    border: 1px solid;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background-color: darkgrey;
    box-shadow: 0 0 50px rgba(144, 104, 194, 0.525);
}
.keyboard__key:hover{
  background-color:rgb(60, 236, 236);
  transition: 0.03s;
  border-radius: 30%;
}
textarea{
    display: block;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    
}
main {
    width: 1020px;
    margin: auto;
}
.keybords__row {
  display: flex;
  grid-gap: 10px;
}
  
.keyboard__key {
  width: 70px;
  height: 70px;
  display: flex;
  cursor: pointer;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: rgb(43, 29, 68);
  transition: all 150ms ease-in-out;
  border-radius: 10px;
  color: aliceblue;
}
[data-code = "Space"] {
  width: 470px;
}
[data-code = "CapsLock"] {
  width: 70px;
}
[data-code = "Enter"] {
  width: 70px;
}
[data-code = "Backspace"] {
  width: 75px;
}
